.result-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
}

.card-photo > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.page-container {
    font-size: calc(1rem * 14 / 16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    padding-left: 1rem 0;
}

.page-container a:hover {
    background-color: #E2F4FF
}

.page-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.page-container a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.currentOftotal {
    display: flex;
}

.currentOftotal > span {
    margin-left: 0.5em;
}

.currentOftotal > span[class] {
    color: #0066ff;
}

.pagelist-container {
    display: flex;
    align-items: center;
}

.pagelist-container > li[class] > a {
    margin-top: 0.5em;
    padding: 0;
}

ul.pagelist-container > li:not([class]) > a {
    padding: 0.5em;
}

.btn-prev > a > img {
    transform: rotate(180deg);
}

.btn-next > a > img {
    transform: rotate(180deg);
}

ul.switchBtn-container {
    display: flex;
    padding-left: 0.5em;
}

ul.switchBtn-container > li {
    margin-right: 1rem;
}

ul.switchBtn-container > li > a {
    display: inline-block;
    border-radius: 8px;
    padding: 0.3em 0.6em;
    border: 1px solid #D0D5DD;
}

/*    !!!!!!*/
.main-body {
    width: 1220px;
}

.main-selection {
    width: 1180px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.page-route {
    font-size: 12px;
}

.selection-name {
    font-size: 48px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.content-selection {
    width: 1180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-container {
    height: 68px;
    display: flex;
    align-items: center;
}

.searchbar-content {
    position: relative;
    margin-left: 12px;
    margin-right: auto;
}

.searchbar-content input {
    width: 400px;
    height: 44px;
    padding-left: 42px;
    border: 1px solid #D0D5DD;
    font-size: 16px;
    border-radius: 10px;
    search-input-placeholder-color: #667085;
}

.searchbar-content img {
    position: absolute;
    width: 20px;
    left: 14px;
    top: 12px;
}

.search-container > select {
    margin-left: auto;
    width: 113px;
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
}

.keyword-container {
    height: 42px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.keyword-container a {
    margin-left: 10px;
    text-decoration: none;
}

.list-control-container {
    height: 83px;
    width: 1160px;
    display: flex;
    align-items: center;
}

#content-select {
    margin-left: 24px;
    width: 113px;
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.content-container {
    border: 2px solid #EAECF0;
    border-radius: 5px;
    width: 1160px;
}

.btn-list {
    width: 116px;
    height: 44px;
    font-size: 14px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
}

#btn-set-alert {
    margin-left: auto;
    background-color: white;
    display: flex;
    padding: 0;
    align-items: center;
}

#btn-set-alert img {
    width: 25px;
    margin-left: 16px;
}

#btn-off-alert {
    margin-left: 16px;
    background-color: white;
    display: flex;
    padding: 0;
    align-items: center;
}

#btn-off-alert img {
    width: 25px;
    margin-left: 16px;
}

#btn-delete {
    margin-left: 16px;
    margin-right: 24px;
    background-color: #7F56D9;
    color: white;
}

.info-table {
    width: 1160px;
    border-collapse: collapse;
}

.info-table th {
    background-color: #EAECF0;
    border: 1px solid #EAECF0;
    font-size: 12px;
    height: 44px;
    color: #667085;
}

.info-table td {
    background-color: white;
    font-size: 14px;
    height: 142px;
    color: #101828;
    text-align: center;
}

.table-check {
    width: 68px;
}

.table-check-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.table-classification {
    width: 74px;
}

.table-img {
    width: 180px;
}

.table-title {
    width: 284px;
}

.table-happen-dt {
    width: 176px;
}

.table-happen-place {
    width: 200px;
}

.table-alert-yn {
    width: 93px;
}

.table-ctrl {
    width: 85px;
}

.item-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.ctrl-icon {
    width: 40px;
    height: 40px;
}