@charset "UTF-8";

.main-contents * {
	box-sizing: border-box;
} 



/* 검색창 프레임 */
.searchbar-container {
	padding-top: 1rem;
}


/* 원진호_0412추가*/
.result-container{
	margin-left: 30px;
}



.searchbar-container form {
	display: flex;
	flex-direction: column;
}

.searchbar-mutil-group {
	display: flex;
	flex-wrap: wrap;
}

.searchbar-select-group {
	display: flex;
	position: relative;
}

.searchbar-title {
	width: 7.5rem;
	display: flex;
	flex-shrink: 0;
	align-items: center;
}

.searchbar-title>span {
	padding: 0.8rem 1rem;
}

.searchbar-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-right: 1rem;
}

.searchbar-content>span {
	padding: 0.8rem 1rem;
}

.searchbar-content>input {
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-size: 0.8rem;
	border-width: 0.0625rem;
	font-family: "Noto Sans KR", sans-serif;
	box-shadow: none;
}

.searchbar-content>select {
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-size: 0.8rem;
	font-family: "Noto Sans KR", sans-serif;
	border-width: 0.0625rem;
}

.search-btn-block {
	margin-top: 1rem;
	border-top: 0.0625rem solid #EAECF0;
	padding: 0.5rem 0;
	display: flex;
	justify-content: center;
}

.search-btn-block>button:hover {
	cursor: pointer;
}

.search-btn-block>button {
	background: #0066ff;
	border-radius: 8px;
	padding: 10px 16px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	border-style: none;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
}

/* 검색 결과프레임 */
/* 결과리스트 총 갯수 프레임 */
.total-resultNum-wrapper {
	display: flex;
	justify-content: flex-start;
	font-size: calc(1rem * 13/ 16);
}

.total-resultNum-container {
	padding: 1rem;
}

.total-resultNum-container>.totalNum {
	color: #0066FF;
}

/* 검색결과 리스트 프레임 */





























	/* 원진호_0409수정 */
.show_lost_item_info_container{
	display: flex;
	justify-content: space-between;
	
}


.detail-title {
	flex-shrink: 0;
}

/* 페이징프레임 */
.page-container {
	font-size: calc(1rem * 14/ 16);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.page-container a:hover {
	background-color: #E2F4FF
}

.currentOftotal {
	display: flex;
}

.currentOftotal>span {
	margin-left: 0.5em;
}

.currentOftotal>span[class] {
	color: #0066ff;
}

.page-container ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.page-container a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

.pagelist-container {
	display: flex;
	align-items: center;
}

.pagelist-container>li[class]>a {
	margin-top: 0.5em;
	padding: 0;
}

ul.pagelist-container>li:not ([class] )>a {
	padding: 0.5em;
}

.btn-next>a>img {
	transform: rotate(180deg);
}

ul.switchBtn-container {
	display: flex;
	padding-left: 0.5em;
}

ul.switchBtn-container>li {
	margin-right: 1rem;
}

ul.switchBtn-container>li>a {
	display: inline-block;
	border-radius: 8px;
	padding: 0.3em 0.6em;
	border: 1px solid #D0D5DD;
}

/* weon_0401 */
.page_root {
	line-height: 50px;
	text-align: right;
	margin-right: 25px;
}

.registrationed_alarm_keywords {
	line-height: 50px;
}

/* 원진호_0412추가 */
/* 등록된 알림 키워드 수량 */
.registration_item_alarmkeyword_count{
	line-height: 50px;
}

.registrationed_alarm_keywords_list {
	font-size: 16px;
	line-height: 50px;
}

.registrationed_alarm_keywords_list a {
	font-size: 16px;
	margin-right: 30px;
}

.registrationed_alarm_keywords_list a:first-child {
	margin-right: 60px;
}

.registrationed_alarm_keywords_list a:last-child {
	color: blue;
	text-align: right;
}

.registrationed_alarm_keywords_list {
	font-size: 20px;
}



.item_tag_00{
	color:black;
}



.item_tag_01 {
	font-weight: bold;
	background-color: #F7E8FF; 
	color: #8910D9;
	border-radius: 30%;
	margin-left: 50px;
}

.item_tag_02 {
	font-weight: bold;
	background-color: #E8F1FF;
	color: #0250EC;
	border-radius: 30%;
}

.item_tag_03 {
	font-weight: bold;
	background-color: #FFE5E8;
	color: #D20319;
	border-radius: 30%;
}

.item_tag_04 {
	font-weight: bold;
	background-color: #FFEFE4;
	color: #EE5800;
	border-radius: 30%;
}

.item_tag_05 {
	font-weight: bold;
	background-color: #D8F7E6;
	color: #00692A;
	border-radius: 30%;
}

.show_all_result {
	margin-left: 120px;
}

.input-search {
	position: absolute;
	width: calc(100% - 148px);
	height: 64px;
	top: 0;
	right: 20px;
	bottom: 0;
	left: 0;
	border: none;
	background-color: transparent;
	outline: none;
	padding: 20px;
	font-size: 50px;
	color: $brand;
}

.border_01 {
	display: flex;
}

.alarm_delete {
	width: 100px;
	background-color: white;
	border-radius: 10px;
	margin-left: 20px;
	cursor: pointer;
	
}

.alarm_delete span{
	text-align: center;
	font-size: 14px;
}




.btn-set {
	display: flex;
	justify-content: flex-start;
	margin-right: auto;
	/* weon_0410추가 */
	background-color: white;
	
}

.view_all_btn {
	width: 87px;
	cursor: pointer;
	background-color: white;
} 

.item_btn {
	width: 87px;
	cursor: pointer;
	background-color: white;
}

.ani_btn {
	width: 87px;
	cursor: pointer;
	background-color: white;
}

.keyword_list_btn {
	width: 87px;
	cursor: pointer;
	background-color: white;
}

.set_02 {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 25px;
}



select {
	margin-right: 20px;
}

.search {
	position: relative;
	width: 300px;
}

.search_bar {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
}

.search_icon {
	position: absolute;
	width: 17px;
	top: 10px;
	right: 12px;	
	margin: 0;
	cursor: pointer;
}



/* 원진호_0404추가 */
/* 원진호_0404_매칭알림목록_개별 분실물명. */
/* .item-title span .matched_lost_item_name{
	color:black;
} */

/* .item-title{
	height:11px; 
} */


/* 원진호_0409_추가 */
/* .list-card {
  background: #ffffff;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  min-width: 230px;
  max-width: 14.375rem;
  height: 99%;
  position: relative;
  box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */



/* .content-items {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .item-title {
  font-size: calc(1rem*15/16);
  margin-bottom: 1rem;
} */

/* .item-title>span {
  padding: 0.4em 0.4em;
} */

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(1rem*13/16);
  font-weight: 400;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.main-body {
	width: 1220px;
}
.item-details>li {
  display: flex;
}

.item-details>li>span {
  padding: 0.4em 0.4em;
}

.item-details>li>span:not(.detail-title) {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.detail-title {
  flex-shrink: 0;
}

#select_content{
	border-radius: 10px;
}

/* --------------------------- */

.result-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14.375rem, auto));
	grid-auto-rows: minmax(20rem, auto);
	row-gap: 10px;
	column-gap: 10px;
}



.list-card {
	background: #ffffff;
	padding: 15px 10px 15px 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: flex-start;
	flex-shrink: 0;
	/* width: 100%; */
	width: 246px;
/* 	max-width: 14.375rem; */
 	max-width: 16rem; 
	/* height: 99%; */
	height: 263px;
	position: relative;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px
		rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-right: 50px;
}


.card-photo {
/* 	width: 14rem;
	height: calc(0.5625rem * 14); */
	width:206px;
	height:116px;
	border-radius: 8px;
}

.card-photo>img {
	object-fit: cover;
	/* width: 100%;
	height: 100%; */
	width: 136px;
	height: 110px;
	border-radius: 20px;
}


.content-items {
	align-self: stretch;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/* .content-items div span:first-child{
	background-color: red;
}

.content-items li span{
	line-height:20px; 
	background-color: green;	
}

.content-items li span:nth-child(1){
	width: 76px;
	height: 20px;
	
} */


.item-title {
	/* font-size: calc(1rem * 15/ 16); */
	font-size: 15px;
	/* margin-bottom: 1rem; */
	width: 206px;
	height: 48px;
/* 	background-color: green; */
	margin-left: 10px;
}




.item-details {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: calc(1rem * 13/ 16);
	font-weight: 400;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

/* .item-details>li {
	display: flex;
} */

/* .item-details>li>span {
	padding: 0.4em 0.4em;
}  */

	/* 원진호_0409수정 */
/* .item-details li:nth-child(1){ */
.item-details_01{
 	width:76px;
 	height: 20px; 
  	line-height: 20px; 
  	margin-left: 10px;
}

.item-details_02{
 	width:220px;
 	height: 20px; 
  	line-height: 20px;
  	margin-left: 10px; 
}

.item-details_03{
 	width:125px;
 	height: 20px; 
	line-height: 20px;
	margin-left: 10px;
}








