@charset "UTF-8";


.side-nav-container ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.side-nav-container a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li.menu-title {
  font-size: calc(1rem*15/16);
  padding: 0.5em;
  padding-left: 0;
  border-bottom: calc(1em*2/16) solid #363636;
}

li.menu-item {
  font-size: calc(1rem*14/16);
  font-weight: 400;
}

li.menu-item>a {
  padding: 0.5em;
}

li.menu-item>a:hover {
  background-color: #E2F4FF;
}


.mypage_matching_alarm_list_page_table{
	margin-left:auto;
	margin-right:auto;/* table 증앙 정렬 방법. */
	border: 2px solid ;
	width: 1220px;
	height: 1036px;
} 


.page_root{
/* 	background-color:yellow; */
	line-height:40px; /* 해당 텍스트 상하 간격 전부 벌러진다. */
	width: 1180px;
	height: 15px;
	font-size: 12px;
	margin-top: 10px;
}


/* "메칭 알림 목록 "위치 정보 수정*/
.page_title{
	font-size: 30px;
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset:15px;
	line-height: 80px;
}



.page_title .registration_alarm_count{
	font-size:13px;
	color:#3367D6;
}



.page_discription{
	padding-top:20px;
	line-height:50px;
}


.alarm_search_result_group{
/* 	background-color:red; */
	text-underline-offset:15px;
}



.lost_list_line_01_info{
	border: 2px solid ;
	width: 100px;
	height: 30px;
}



.registrationed_alarm_keywords a{
	line-height:90px;
	color:#3367D6;
}


.registrationed_alarm_keywords_list{
/* 	background-color:red; */
	font-size:16px;
}


.registrationed_alarm_keywords_list a{
	font-size:16px;
	margin-right: 30px;
}


.registrationed_alarm_keywords_list a:first-child{
/* 	background-color:green; */
	margin-right: 60px;
}



.registrationed_alarm_keywords_list a:last-child {
	color:blue;
	text-align: right;
}


.registrationed_alarm_keywords_list {
	font-size: 20px;
}

.item_tag_01{
	font-weight:bold;
	background-color: #F7E8FF;
	color: #8910D9; 
	border-radius: 30%;
	margin-left:50px; 
}


.item_tag_02{
	font-weight:bold;
	background-color: #E8F1FF;
	color: #0250EC; 
	border-radius: 30%;
}

.item_tag_03{
	font-weight:bold;
	background-color: #FFE5E8;
	color: #D20319; 
	border-radius: 30%;
}

.item_tag_04{
	font-weight:bold;
	background-color: #FFEFE4;
	color: #EE5800; 
	border-radius: 30%;
}


.item_tag_05{
	font-weight:bold;
	background-color: #D8F7E6;
	color: #00692A; 
	border-radius: 30%;
}


.show_all_result{
	margin-left: 120px;
}







.lost_item_list_detail_01{
	width:200px;
	height:200px;
/* 	background-color:#E8F1FF; */
	border: 1px solid ;
}
.lost_item_list_detail_02{
	padding-left:20px;
	width:200px;
	height:200px;
	/* background-color:#E8F1FF; */
	border: 1px solid ;
}
.lost_item_list_detail_03{
	width:200px;
	height:200px;
	/* background-color:#E8F1FF; */
	border: 1px solid ;
}
.lost_item_list_detail_04{
	width:200px;
	height:200px;	
	/* background-color:#E8F1FF; */
	border: 1px solid ;
}



.lost_item_list_line_01_detail_01 div{
	margin-left:10px;
}
.lost_item_list_line_01_detail_02 div{
	margin-left:10px;
}
.lost_item_list_line_01_detail_03 div{
	margin-left:10px;
}
.lost_item_list_line_01_detail_04 div{
	margin-left:10px;
}



.lost_list_line_01{
	margin-top:20px;
	width:900px;
/* 	border: 3px solid yellow; */
	border-collapse: separate;
	display:flex;
	flex-wrap: wrap;
	gap: 60px 10px;
}







.lost_item_list_line_01_detail_01 img{
	display:block;
	border-radius:20%;
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:90px;
	background-color: #A3D3D9;
}
.lost_item_list_line_01_detail_02 img{
	display:block;
	border-radius:20%;
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:90px;
	background-color: #A3D3D9;
}
.lost_item_list_line_01_detail_03 img{
	display:block;
	border-radius:20%;
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:90px;
	background-color: #A3D3D9;
}
.lost_item_list_line_01_detail_04 img{
	display:block;
	border-radius:20%;
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:90px;
	background-color: #A3D3D9;
}











