.main-body {
    width: 1220px;
}


.page_root {
	line-height: 50px;
	text-align: right;
	margin-right: 25px;
}





.page-route {
    font-size: 12px;
}



.content-selection {
    width: 1180px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.content-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
}

.list-control-container {
    width: 1160px;
    height: 83px;
    display: flex;
    align-items: center; 
  
}

.list-control-container {
    font-size: 18px;
    font-weight: bold;
}

#item-name-text {
    margin-left: 24px;
}

#item-name-value {
    margin-left: 10px;
}

.btn-list {
    width: 116px;
    height: 44px;
    font-size: 14px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
}

#btn-off-alert {
    background-color: #ffffff;
    display: flex;
    padding: 0;
    align-items: center;
    /* 원진호_0410_수정 */
    margin-left: 30px;
    
    
}

#btn-off-alert img {
    width: 24px;
    margin-left: 16px;
}

#btn-delete {
 /*    margin-left: auto; */
/*     margin-right: 24px; */
    background-color: #7F56D9;
    color: white;
    margin-left: 700px;
}

.registrationed_alarm_keywords_list {
    width: 1160px;
    height: 30px;
    display: flex;
    padding-bottom: 10px;
    /* align-items: center; */
    justify-content: space-between;
}




.info-table {
    width: 1160px;
    border-collapse: collapse;
}

.info-table th {
    background-color: #EAECF0;
    border: 1px solid #EAECF0;
    font-size: 12px;
    height: 44px;
    color: #667085;
}

.info-table td {
    background-color: white;
    font-size: 14px;
    height: 142px;
    color: #101828;
    text-align: center;
}

.table-check {
    width: 68px;
}

.table-check-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.table-img {
    width: 180px;
}

.table-title {
    width: 448px;
}

.table-happen-dt {
    width: 176px;
}

.table-happen-place {
    width: 200px;
}

.table-ctrl {
    width: 88px;
}

.item-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.ctrl-icon {
    width: 40px;
    height: 40px;
}

.result-container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;
}

.card-photo > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.page-container {
    font-size: calc(1rem * 14 / 16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.page-container a:hover {
    background-color: #E2F4FF
}

.page-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.page-container a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.currentOftotal {
    display: flex;
}

.currentOftotal > span {
    margin-left: 0.5em;
}

.currentOftotal > span[class] {
    color: #0066ff;
}

.pagelist-container {
    display: flex;
    align-items: center;
}

.pagelist-container > li[class] > a {
    margin-top: 0.5em;
    padding: 0;
}

ul.pagelist-container > li:not([class]) > a {
    padding: 0.5em;
}

.btn-prev > a > img {
    transform: rotate(180deg);
}

.btn-next > a > img {
    transform: rotate(180deg);
}

ul.switchBtn-container {
    display: flex;
    padding-left: 0.5em;
}

ul.switchBtn-container > li {
    margin-right: 1rem;
}

ul.switchBtn-container > li > a {
    display: inline-block;
    border-radius: 8px;
    padding: 0.3em 0.6em;
    border: 1px solid #D0D5DD;
}


.item_tag_01 {
	font-weight: bold;
	background-color: #F7E8FF;
	color: #8910D9;
	border-radius: 30%;
	margin-left: 20px;
}

.item_tag_02 {
	font-weight: bold;
	background-color: #E8F1FF;
	color: #0250EC;
	border-radius: 30%;
}

.item_tag_03 {
	font-weight: bold;
	background-color: #FFE5E8;
	color: #D20319;
	border-radius: 30%;
}

.item_tag_04 {
	font-weight: bold;
	background-color: #FFEFE4;
	color: #EE5800;
	border-radius: 30%;
}

.item_tag_05 {
	font-weight: bold;
	background-color: #D8F7E6;
	color: #00692A;
	border-radius: 30%;
}

.show_all_result {
	margin-left: 60px;
	margin-right: 20px;
}





